<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="https://bit.ly/3zaWTel"/>
    <title>Basic Banking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
      body {
         background-image: url("https://abbank.vn/uploads/images/2020/09/11/online-banking-1440x550.jpg");
      }
      .justify-content-end > .nav-item > a {
       color: black;
      }
    </style>
  </head>
<body>
 
<nav class="navbar navbar-lg  bg-$grey-200">
     <span class="navbar-brand mb-0  ml-2 h1"><b><i>Sparks Bank</i></b></span>
         <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfermoney">View Customers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/history">Transaction History</a>
            </li>
         </ul>
  </nav>
<div style="text-align: left; width: 1000px; padding:150px">
    <h1><b>Welcome To Sparks Bank</b></h1>
  </div>
</div>
<footer class="page-footer font-small fixed-bottom">
        <div class="footer-copyright text-center py-3 " >© 2021Copyright:All Rights Reserved
           <a><br>K Pranavi,The Sparks Foundation </a>
       </div>
        </footer>
    
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>